<section class="about">
  <div class="container about__container">
    <h2 class="about-title">платформа united market</h2>
    <ul class="about__list list-reset">
      <li>
        <p class="about-descr">
          <span class="about-highlight">Платформа United Market</span> –
          современный и интуитивно удобный маркетплейс. Отвечает всем
          потребностям партнеров и пользователей платформы.
        </p>
      </li>
      <li>
        <div class="about-photo">
          <img class="about-img2" src="img/about2.png" alt="about" />
          <img class="about-img1" src="img/about1.png" alt="about" />
          <img class="about-mobile" src="img/about-mobile.png" alt="about" />
        </div>
      </li>
    </ul>
  </div>
</section>
