<section class="advantages">
  <div class="container advantages__container">
    <h2 class="advantages-title">
      преимущества использования платформы united market
    </h2>
    <ul class="advantages__list list-reset">
      <li class="advantages_item">
        <img class="card-icon" src="img/um.png" alt="united market" />
        <h3 class="card-title">Место на платформе unitedmarket.org</h3>
        <p class="card-descr">
          Предоставляем платформу для размещения товаров и услуг
        </p>
      </li>
      <li class="advantages_item">
        <img class="card-icon" src="img/web.png" alt="website" />
        <h3 class="card-title">Свой сайт</h3>
        <p class="card-descr">
          У вас есть уникальная возможность создать свой сайт
        </p>
      </li>
      <li class="advantages_item">
        <img class="card-icon card-icon--crm" src="img/crm.png" alt="crm" />
        <h3 class="card-title">CRM система</h3>
        <p class="card-descr">
          Своим партнерам мы предоставляем готовую систему для ведения бизнеса
        </p>
      </li>
      <li class="advantages_item">
        <img class="card-icon card-icon--aco" src="img/aco.png" alt="aco" />
        <h3 class="card-title">АСО</h3>
        <p class="card-descr">
          Нашим партнерам мы предоставляем автоматизированную систему оповещения
          о заказах
        </p>
      </li>
      <li class="advantages_item">
        <img class="card-icon" src="img/blockchain.png" alt="blockchain" />
        <h3 class="card-title">Блокчейн</h3>
        <p class="card-descr">
          Безопасные, быстрые и прозрачные транзакции по технологии Блокчейн
        </p>
      </li>
      <li class="advantages_item">
        <img
          class="card-icon card-icon--load"
          src="img/load.png"
          alt="load items"
        />
        <h3 class="card-title">Загрузка товаров</h3>
        <p class="card-descr">
          Самостоятельно загружать товары и регулировать цены
        </p>
      </li>
      <li class="advantages_item">
        <img
          class="card-icon card-icon--stat"
          src="img/stat.png"
          alt="statistics"
        />
        <h3 class="card-title">Статистика заказов</h3>
        <p class="card-descr">Смотреть статистику заказов и выплаты по ним</p>
      </li>

      <li class="advantages_item">
        <img
          class="card-icon card-icon--with"
          src="img/withdraw.png"
          alt="withdraw"
        />
        <h3 class="card-title">Вывод средств</h3>
        <p class="card-descr">
          Выводить средства, которые начисляются за каждый заказ на кошелек в
          личном кабинете United Market
        </p>
      </li>
    </ul>
  </div>
</section>
