<section class="form-section">
  <div class="container form-section__container">
    <h2 class="form-title">заинтересовало предложение?</h2>
    <p class="form-descr">
      Оставляй свои контакты, мы свяжемся с тобой и расскажем подробно об
      условиях
    </p>
    <form action="#" id="form" class="form">
      <div class="form__content">
        <label class="form-label">
          <p class="input-title">Имя<span class="form-span"> *</span></p>
          <input class="form__input" type="text" />
        </label>
        <label class="form-label">
          <p class="input-title">Телефон<span class="form-span"> *</span></p>
          <input class="form__input" type="tel" />
        </label>
        <label class="form-label">
          <p class="input-title">Email</p>
          <input class="form__input" type="email" />
        </label>
        <p class="input-title">Сообщение</p>
        <textarea rows="5" class="form-textarea"></textarea>
        <button class="btn-reset btn btn-form" type="submit">Отправить</button>
      </div>
    </form>
    <div class="popup">
      <div class="container popup__container">
        <button aria-label="Поиск" class="popup-button">
          <span class="popup__span"></span>
        </button>
        <h2 class="popup-title">
          Спасибо! Скоро наши менеджеры свяжутся с вами
        </h2>
      </div>
    </div>
  </div>
</section>
