<section class="hero">
  <div class="container hero__container">
    <div class="hero-content">
      <h2 class="hero-title">хочешь вывести свой бизнес в онлайн?</h2>
      <p class="hero-descr">
        Размещай свои товары на нашей платформе и продвигай свой бизнес в онлайн
      </p>
      <a class="btn-hero" href="#form">Хочу вывести бизнес в онлайн</a>
    </div>
    <!-- <ul class="hero__list list-reset">
      <li>
        <h2 class="hero-title">хочешь вывести свой бизнес в онлайн?</h2>
        <p class="hero-descr">
          Размещай свои товары на нашей платформе и продвигай свой бизнес в
          онлайн
        </p>
        <a class="btn-hero" href="#form">Хочу вывести бизнес в онлайн</a>
      </li>
      <li>
        <div class="hero-photo">
          <img class="hero-signal" src="img/objects.svg" alt="wave" />
          <img class="hero-img" src="img/hero-img.png" alt="hero" />
        </div>
      </li>
    </ul> -->
  </div>
</section>
